.Background {
  background-image: url(../../assets/colisé\ landing.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Title_JO {
  display: flex;
  justify-content: center;
  margin-top: 11rem;
  font-size: 1.9rem;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  width: fit-content;
  margin-inline: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

